[submodule "chassis/lib-orml"]
	path = chassis/lib-orml
	url = https://github.com/Slixon-Technologies/open-runtime-module-library
[submodule "chassis/predeploy-contracts"]
	path = chassis/predeploy-contracts
	url = https://github.com/Setheum-Labs/predeploy-contracts
