[profile.release]
panic = 'unwind'

[profile.dev]
split-debuginfo = "unpacked"

[workspace]
members = [
	#Setheum Node
    'node',
	#Setheum Runtime Module Library (SERML)
    'lib-serml/airdrop',
    'lib-serml/auction-manager',
    'lib-serml/balances',
    'lib-serml/cdp-engine',
    'lib-serml/cdp-treasury',
    'lib-serml/currencies',
    'lib-serml/dex',
    'lib-serml/emergency-shutdown',
    'lib-serml/evm',
    'lib-serml/evm/rpc',
    'lib-serml/evm/rpc/runtime-api',
    'lib-serml/evm-accounts',
    'lib-serml/evm-bridge',
    'lib-serml/evm-manager',
    'lib-serml/loans',
    'lib-serml/nft',
    'lib-serml/prices',
    'lib-serml/recovery',
    'lib-serml/renvm-bridge',
    'lib-serml/serp-ocw',
    'lib-serml/serp-setmint',
    'lib-serml/serp-treasury',
    'lib-serml/setcloud-benefits',
    'lib-serml/setcloud-market',
    'lib-serml/setcloud-swork',
    'lib-serml/setcloud-swork/benchmarking',
    'lib-serml/staking',
    'lib-serml/support',
    'lib-serml/transaction-payment',
	#Setheum Runtime
    'runtime/common',
    'runtime/setheum',
	#Setheum Primitives
    'primitives',
	#Open Runtime Module Library (ORML)
	'open-lib/authority',
	'open-lib/benchmarking',
	'open-lib/currencies',
	'open-lib/nft',
	'open-lib/oracle',
	'open-lib/oracle/rpc',
 	'open-lib/oracle/rpc/runtime-api',
	'open-lib/tokens',
	'open-lib/traits',
	'open-lib/utilities',
]
exclude = [
    "utils/webpki",
    "utils/ring",
    "utils/serde_json_no_std",
    "utils/serde_derive_no_std",
    "utils/serde_derive_no_std"
]
resolver = "2"

# exclude = ['rpc']

# The list of dependencies below (which can be both direct and indirect dependencies) are crates
# that are suspected to be CPU-intensive, and that are unlikely to require debugging (as some of
# their debug info might be missing) or to require to be frequently recompiled. We compile these
# dependencies with `opt-level=3` even in "dev" mode in order to make "dev" mode more usable.
# The majority of these crates are cryptographic libraries.
#
# Note that this does **not** affect crates that depend on Substrate. In other words, if you add
# a dependency on Substrate, you have to copy-paste this list in your own `Cargo.toml` (assuming
# that you want the same list). This list is only relevant when running `cargo build` from within
# the Substrate workspace.
#
# If you see an error mentioning "profile package spec ... did not match any packages", it
# probably concerns this list.
#
# This list is ordered alphabetically.
[profile.dev.package]
blake2 = { opt-level = 3 }
blake2-rfc = { opt-level = 3 }
blake2b_simd = { opt-level = 3 }
chacha20poly1305 = { opt-level = 3 }
cranelift-codegen = { opt-level = 3 }
cranelift-wasm = { opt-level = 3 }
crc32fast = { opt-level = 3 }
crossbeam-deque = { opt-level = 3 }
crossbeam-queue = { opt-level = 3 }
crypto-mac = { opt-level = 3 }
curve25519-dalek = { opt-level = 3 }
ed25519-dalek = { opt-level = 3 }
flate2 = { opt-level = 3 }
futures-channel = { opt-level = 3 }
hashbrown = { opt-level = 3 }
h2 = { opt-level = 3 }
hash-db = { opt-level = 3 }
hmac = { opt-level = 3 }
httparse = { opt-level = 3 }
integer-sqrt = { opt-level = 3 }
keccak = { opt-level = 3 }
libm = { opt-level = 3 }
librocksdb-sys = { opt-level = 3 }
libsecp256k1 = { opt-level = 3 }
libz-sys = { opt-level = 3 }
mio = { opt-level = 3 }
nalgebra = { opt-level = 3 }
num-bigint = { opt-level = 3 }
parking_lot = { opt-level = 3 }
parking_lot_core = { opt-level = 3 }
percent-encoding = { opt-level = 3 }
ring = { opt-level = 3 }
rustls = { opt-level = 3 }
sha2 = { opt-level = 3 }
sha3 = { opt-level = 3 }
smallvec = { opt-level = 3 }
snow = { opt-level = 3 }
twox-hash = { opt-level = 3 }
uint = { opt-level = 3 }
wasmi = { opt-level = 3 }
x25519-dalek = { opt-level = 3 }
yamux = { opt-level = 3 }
zeroize = { opt-level = 3 }

[patch.crates-io]
frame-benchmarking = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-benchmarking-cli = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-executive = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-support = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-support-procedural = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-support-procedural-tools = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-support-procedural-tools-derive = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-system = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
frame-system-rpc-runtime-api = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-authorship = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-babe = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-balances = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-bounties = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-collective = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-elections-phragmen = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-grandpa = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-indices = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-membership = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-multisig = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-offences = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-proxy = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-randomness-collective-flip = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-scheduler = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-session = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-staking = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-staking-reward-curve = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-sudo = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-timestamp = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-tips = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-transaction-payment-rpc = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-treasury = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
pallet-utility = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-basic-authorship = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-chain-spec = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-cli = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-client-api = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-client-db = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus-babe = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus-babe-rpc = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus-slots = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus-manual-seal = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-consensus-epochs = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-executor = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-finality-grandpa = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-finality-grandpa-rpc = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-informant = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-keystore = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-network = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-offchain = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-rpc = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-rpc-api = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-service = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-telemetry = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sc-transaction-pool = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-api = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-application-crypto = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-arithmetic = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-block-builder = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-blockchain = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-consensus = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-consensus-babe = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-core = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-externalities = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-finality-grandpa = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-inherents = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-io = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-keystore = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-offchain = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-rpc = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-runtime = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-runtime-interface = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-session = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-staking = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-std = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-storage = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-timestamp = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-tracing = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-transaction-pool = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-trie = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-version = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
substrate-frame-rpc-system = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
sp-runtime-interface-proc-macro = { git = "https://github.com/Slixon-Technologies/substrate", branch = "setheum-0.9.6" }
