[package]
name = "module-edfis-pay"
version = "0.5.0-dev"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
parity-scale-codec = { workspace = true }
log = { workspace = true }
scale-info = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

orml-traits = {workspace = true, default-features = false }

[dev-dependencies]
serde = "1.0.136"

sp-core = { workspace = true }
sp-io = { workspace = true }

orml-tokens = { workspace = true }

[features]
default = [ 'std' ]
std = [
	'frame-support/std',
	'frame-system/std',
	'log/std',
	'orml-traits/std',
	'parity-scale-codec/std',
	'scale-info/std',
	'sp-runtime/std',
	'sp-std/std',
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]
