[package]
name = "setheum-renvm-bridge"
version = "1.0.0"
authors = ["Setheum Labs"]
edition = "2018"

[dependencies]
# external dependencies
serde = { version = "1.0.124", optional = true }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }

# Substrate dependencies
frame-system = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08", default-features = false }

# orml dependencies
orml-traits = { path = "../../../lib-open/traits", default-features = false }

# local dependencies
support = { package = "setheum-support", path = "../../support", default-features = false }
primitives = { package = "setheum-primitives", path = "../../../primitives", default-features = false }

[dev-dependencies]
hex-literal = "0.3.1"
orml-currencies = { path = "../../../lib-open/currencies" }
orml-tokens = { path = "../../../lib-open/tokens" }
pallet-balances = { git = "https://github.com/paritytech/substrate", tag = "monthly-2021-08" }

[features]
default = ["std"]
std = [
	"serde",
	"frame-system/std",
	"frame-support/std",
	"sp-std/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"support/std",
	"orml-traits/std",
	"primitives/std",
]
try-runtime = ["frame-support/try-runtime"]
